body{
  background-color: rgb(255, 255, 255);
}

/* navbar */
.navbar {
  position: fixed;
  z-index: 10;
  width: 100vw;
}

.bg-success {
  background-color: #84c0e15a !important;
}

.navbar a {
  transition: 0.5s;
}

.navbar a:hover {
  transform: scale(1.2);
  text-decoration: underline;
  font-weight: 900;
}

/*hospital img*/
.hospital-img{
  margin-top: 95px;
  height: 80vh;
  width: 100vw;
}



.headings{
  text-align: center;
  transition: 0.3s;
}
.headings:hover{
  transform: scale(1.1);
  text-decoration:underline;
}

.table {
  border: 1px solid rgb(109, 59, 59);
  font-family:'Times New Roman', Times, serif;
}
.tr{
  transition-duration: 0.3ms;
}
tr:hover{
  transform: scale(0.9);
}








/* footer */

.footer {
  width: auto;
  height: 517px;
  border: 2px solid black;
  background: #84c0e15a;
}

.map {
  width: 600px;
  height: 498px;

}

.info {
  margin: auto;
  height: 400px;
  width: 300px;
}

.info span {
  font-size: 35px;
  font-weight: 600;
}

.info h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.info p {
  color: blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.info a {
  text-decoration: none;
  color: blue;
}

.info .dr {
  font-weight: 400;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.design {
  width: auto;
  height: 30px;
  border: 1px solid black;
  background: #84c0e15a;
}

.design p {
  color: black;
  font-weight: 500;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 30px;
  text-align: end;
  margin-right: 20px;
}